<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DrawnUI for Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="nav flex-column">
        @foreach (var section in NavMenuItems.RootSections)
        {
            <NavMenuSectionView Section="section"
                                IsExpanded="IsSectionExpanded(section.Key)"
                                IsSectionExpanded="IsSectionExpanded"
                                ToggleSection="ToggleSection"
                                CloseNavMenu="CloseNavMenu" />
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private readonly HashSet<string> expandedSections = NavMenuItems.CreateDefaultExpandedSections();

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool IsSectionExpanded(string key)
    {
        return expandedSections.Contains(key);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private Task ToggleSection(string key)
    {
        if (!expandedSections.Add(key))
        {
            expandedSections.Remove(key);
        }

        return Task.CompletedTask;
    }

    private void CloseNavMenu(MouseEventArgs _)
    {
        collapseNavMenu = true;
    }
}
