<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DrawnUI for Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cards">
                <span class="bi bi-arrow-down-up-nav-menu" aria-hidden="true"></span> Cards
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="keyboard-probe">
                <span class="bi bi-keyboard-nav-menu" aria-hidden="true"></span> Keyboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="image-probe">
                <span class="bi bi-image-nav-menu" aria-hidden="true"></span> Image
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shapes-probe">
                <span class="bi bi-bounding-box-nav-menu" aria-hidden="true"></span> Shapes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scroll-probe">
                <span class="bi bi-arrow-down-up-nav-menu" aria-hidden="true"></span> Scroll 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lottie-probe">
                <span class="bi bi-play-circle-nav-menu" aria-hidden="true"></span> Lottie 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gif-probe">
                <span class="bi bi-film-nav-menu" aria-hidden="true"></span> Gif
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="svg-probe">
                <span class="bi bi-badge-sd-nav-menu" aria-hidden="true"></span> Svg
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backdrop-probe">
                <span class="bi bi-layers-half-nav-menu" aria-hidden="true"></span> Backdrop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skmesh-probe">
                <span class="bi bi-grid-3x3-gap-fill-nav-menu" aria-hidden="true"></span>
                <span>SKMesh</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skmesh-projection-probe">
                <span class="bi bi-badge-3d-nav-menu" aria-hidden="true"></span>
                <span>SKMesh Projection</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skmesh-rocket-probe">
                <span class="bi bi-rocket-takeoff-nav-menu" aria-hidden="true"></span>
                <span>SKMesh Rocket</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
