@page "/"
@using AppoMobi.Gestures
@using DrawnUi.Draw
@using DrawnUi.Views

@using DrawnUi

<PageTitle>Home</PageTitle>

<h1>SpaceShooter Blazor</h1>

DrawnUI sample for Blazor.

<Canvas 
    HorizontalOptions="LayoutOptions.Fill"
    VerticalOptions="LayoutOptions.Fill"
    BackgroundColor="#F0F0F5"
    Margin="16,16,16,16"
    RenderingMode="@RenderingModeType.Accelerated"
    Gestures="@GesturesMode.Enabled"
    RootControl="@RootControl" />

@code {

    private readonly SkiaControl RootControl;
    private bool _canRefreshUi;

    public Home()
    {

        RootControl = new SkiaLayer()
        {
            VerticalOptions = LayoutOptions.Fill,
            HorizontalOptions = LayoutOptions.Fill,
            Children =
            {
                new SpaceShooter.Game.SpaceShooter(),
                
                new SkiaLabelFps()
                {
                    //ForceRefresh = true,
                    Margin = new (0, 0, 4, 24),
                    VerticalOptions = LayoutOptions.End,
                    HorizontalOptions = LayoutOptions.End,
                    Rotation = -45,
                    BackgroundColor = Colors.DarkRed,
                    TextColor = Colors.White,
                    ZIndex = 110,
                }
            }
        };


    }



    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _canRefreshUi = true;
        }
    }

}
