@using AppoMobi.Specials
@inherits VisualElement

@if (IsVisible)
{
    <style>
            @ClassUidStyle {
                display: grid;
                @CssColumns
                @CssRows
                @CssPadding
            }

            @ClassUidStyle > div {
                box-sizing: border-box;
                grid-column-start: 1;
                grid-row-start: 1;

            }

            @*@ClassUidStyle > div:first-child {
                margin-top: 0;
            }

            @ClassUidStyle > div:last-child {
                margin-bottom: 0;
            }*@

    </style>


    <div class="xaml-element xaml-grid @ClassUid @Class" style="@CssMargins @CssPadding @CssGridPosition @CssStyle @Style">

        @ChildContent

    </div>
}


@code {

    string DefinitionsToString(string definitions)
    {
        if (string.IsNullOrEmpty(definitions))
            return string.Empty;

        var cols = definitions.Split(',', StringSplitOptions.RemoveEmptyEntries);
        var stringCols = "";
        var nbCol = -1;
        foreach (var col in cols)
        {
            var value = col.Trim().ToLower();
            nbCol++;
            if (value == "auto")
            {
                //todo
                stringCols += $" auto";
            }
            else if (value == "*")
            {
                stringCols += $" 1fr"; //todo
            }
            else if (value.Contains("*"))
            {
                stringCols += $" {col.Replace("*", "")}fr";
            }
            else
            {
                var vCol = value.ToDouble();
                stringCols += $" {vCol}{Units}";
            }
        }

        return stringCols;
    }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(ColumnDefinitions))
        {
            CssColumns = $"grid-template-columns: {DefinitionsToString(ColumnDefinitions)}; grid-column-gap: {ColumnSpacing}{Units};";
        }

        if (!string.IsNullOrEmpty(RowDefinitions))
        {
            CssRows = $"grid-template-rows: {DefinitionsToString(RowDefinitions)}; grid-row-gap: {RowSpacing}{Units};";
        }

        base.OnParametersSet();
    }

    string CssColumns { get; set; }

    string CssRows { get; set; }

    [Parameter] public string ColumnDefinitions { get; set; }

    [Parameter] public string RowDefinitions { get; set; }


    MarkupString StyleMargin
    {
        get
        {
            /* top | right | bottom | left */
            //            return new MarkupString($"margin: {SpacingUnits} auto {SpacingUnits} auto;");
            return new MarkupString($"margin: 0 0 {SpacingRowsUnits} 0;");
        }
    }

    public MarkupString CssStyle
    {
        get
        {
            var ret = $"{CssLayoutAlignment}";

            return new MarkupString(ret);
        }
    }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public double ColumnSpacing { get; set; } = 8.0;

    [Parameter] public double RowSpacing { get; set; } = 8.0;


    public MarkupString SpacingRowsUnits
    {
        get { return new MarkupString($"{RowSpacing}{Units}"); }
    }

    public MarkupString SpacingColsUnits
    {
        get { return new MarkupString($"{ColumnSpacing}{Units}"); }
    }


    #region ATTACHABLE PROPS

    static void Invalidate(BindableObject bindable, object oldValue, object newValue)
    {
        if (bindable is VisualElement element && element.Parent is Grid grid)
        {
            grid.InvalidateMeasure();
        }
    }

    #region Row/Column/Span Attached Properties

    /// <summary>Bindable property for attached property <c>Row</c>.</summary>
    public static readonly BindableProperty RowProperty = BindableProperty.CreateAttached("Row",
        typeof(int), typeof(Grid), default(int), validateValue: (bindable, value) => (int)value >= 0,
        propertyChanged: Invalidate);

    /// <summary>Bindable property for attached property <c>RowSpan</c>.</summary>
    public static readonly BindableProperty RowSpanProperty = BindableProperty.CreateAttached("RowSpan",
        typeof(int), typeof(Grid), 1, validateValue: (bindable, value) => (int)value >= 1,
        propertyChanged: Invalidate);

    /// <summary>Bindable property for attached property <c>Column</c>.</summary>
    public static readonly BindableProperty ColumnProperty = BindableProperty.CreateAttached("Column",
        typeof(int), typeof(Grid), default(int), validateValue: (bindable, value) => (int)value >= 0,
        propertyChanged: Invalidate);

    /// <summary>Bindable property for attached property <c>ColumnSpan</c>.</summary>
    public static readonly BindableProperty ColumnSpanProperty = BindableProperty.CreateAttached("ColumnSpan",
        typeof(int), typeof(Grid), 1, validateValue: (bindable, value) => (int)value >= 1,
        propertyChanged: Invalidate);

    /// <summary>Gets the column of the <paramref name="bindable" /> child element.</summary>
    /// <param name="bindable">An element that belongs to the Grid layout.</param>
    /// <returns>The column that the child element is in.</returns>
    public static int GetColumn(BindableObject bindable)
    {
        return (int)bindable.GetValue(ColumnProperty);
    }

    /// <returns>The number of columns spanned by the element; defaults to 1.</returns>
    public static int GetColumnSpan(BindableObject bindable)
    {
        return (int)bindable.GetValue(ColumnSpanProperty);
    }

    /// <summary>Gets the row of the <paramref name="bindable" /> child element.</summary>
    /// <param name="bindable">An element that belongs to the Grid layout.</param>
    /// <returns>The row that the child element is in.</returns>
    public static int GetRow(BindableObject bindable)
    {
        return (int)bindable.GetValue(RowProperty);
    }

    /// <summary>Gets the row span of the <paramref name="bindable" /> child element.</summary>
    /// <param name="bindable">An element that belongs to the Grid layout.</param>
    /// <returns>The row span value of the given element.</returns>
    public static int GetRowSpan(BindableObject bindable)
    {
        return (int)bindable.GetValue(RowSpanProperty);
    }

    /// <summary>Changes the column in which a child element will be placed.</summary>
    /// <param name="bindable">A child element of this Grid to move to a different column.</param>
    /// <param name="value">The column in which to place the child element.</param>
    public static void SetColumn(BindableObject bindable, int value)
    {
        bindable.SetValue(ColumnProperty, value);
    }

    /// <summary>Changes the column span of the specified child element.</summary>
    /// <param name="bindable">A child element of this Grid on which to assign a new column span.</param>
    /// <param name="value">The new column span.</param>
    public static void SetColumnSpan(BindableObject bindable, int value)
    {
        bindable.SetValue(ColumnSpanProperty, value);
    }

    /// <summary>Changes the row in which a child element will be placed.</summary>
    /// <param name="bindable">A child element of this Grid to move to a different row.</param>
    /// <param name="value">The row in which to place the child element.</param>
    public static void SetRow(BindableObject bindable, int value)
    {
        bindable.SetValue(RowProperty, value);
    }

    /// <summary>Changes the row span of the specified child element.</summary>
    /// <param name="bindable">A child element of this Grid on which to assign a new row span.</param>
    /// <param name="value">The new row span.</param>
    public static void SetRowSpan(BindableObject bindable, int value)
    {
        bindable.SetValue(RowSpanProperty, value);
    }

    #endregion


    #endregion


}